header {
  border-bottom: 1px solid black;
  padding: 15px;
}
nav {
  width: 200px;
  height: 1000px;
  border-right: 1px solid black;
  float: left;
}
nav ol {
  list-style: none;
}

article {
  float: left;
  padding: 20px;
}

h2 {
  font-size: 30px;
}
